<div class="d-flex flex-column align-items-center">
  <form
    class="mb-3 p-3"
    [formGroup]="registerForm"
    style="max-width: 500px"
    [ngClass]="{ 'bg-white': redirect }"
  >
    <h2 class="text-center">Únete a nosotros</h2>
    <p class="text-danger">{{ registerError }}</p>

    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            formControlName="firstname"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Nombre</label>
          <div
            *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
            class="text-danger"
          >
            <div *ngIf="firstname.errors?.['required']">
              El nombre es requerido.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            formControlName="lastname"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Apellido</label>
          <div
            *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
            class="text-danger"
          >
            <div *ngIf="lastname.errors?.['required']">
              El Apellido es requerido.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="username"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email</label>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        <div *ngIf="email.errors?.['required']">El Email es requerido.</div>
        <div *ngIf="email.errors?.['email']">
          El Email debe tener un formato válido.
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Contraseña</label>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger"
      >
        <div *ngIf="password.errors?.['required']">
          La Contraseña es requerida
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="passwordCopy"
        type="password"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Repetir Contraseña</label>
      <div
        *ngIf="
          passwordCopy.invalid && (passwordCopy.dirty || passwordCopy.touched)
        "
        class="text-danger"
      >
        
      </div>
      <div
        class="text-danger"
        *ngIf="
          registerForm.hasError('fieldsDoNotMatch') &&
          registerForm.get('passwordCopy').touched
        "
      >
        Las contraseñas no coinciden.
      </div>
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        id="terminos"
        formControlName="terms" 
        class="form-check-input"
      />
      <label for="terminos" class="form-check-label">
        Acepto los
        <a routerLink="/terms" target="_blank">términos y condiciones</a>
      </label>
    </div>

    <button
      [disabled]="!registerForm.valid"
      type="submit"
      (click)="login()"
      class="btn btn-primary mt-2"
      style="width: 100%"
    >
      Iniciar Sesión
    </button>
    @if (redirect) {
    <p>Ya tienes cuenta? <a routerLink="/login"> Iniciar Sesion</a></p>
    }
  </form>
  <app-google-login></app-google-login>
</div>
