<div class="d-flex flex-column align-items-center ">
  <form class="  p-3" [formGroup]="loginForm" style="max-width: 500px"
  [ngClass]="{ 'bg-white': redirect }">
    <h2>Bienvenido de nuevo</h2>
    <p class="text-muted">Inicia Sesion en tu cuenta</p>
    <p class="text-danger">{{ loginError }}</p>

    <div class="form-floating mb-3">
      <input
        formControlName="username"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email</label>
      <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="text-danger"
    >
      <div *ngIf="email.errors?.['required']">El Email es requerido.</div>
      <div *ngIf="email.errors?.['email']">
        El Email debe tener un formato válido.
      </div>
    </div>
    </div>

   
    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="text-danger"
    >
      <div *ngIf="password.errors?.['required']">
        La Contraseña es requerida
      </div>
    </div>
    <button
      [disabled]="!loginForm.valid"
      type="submit"
      (click)="login()"
      class="btn btn-primary mt-2"
      style="width: 100%;"
    >
      Iniciar Sesión
    </button>
    @if (redirect) {
    <p>No tienes cuenta? <a routerLink="/register"> Crear cuenta</a></p>
    }
  </form>
  <app-google-login></app-google-login>
</div>